*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(230, 228, 233);
    color: black;
    line-height: 1.6;
    padding: 20px;
}
/*Header Style*/
header{
    background-color: rgb(7, 7, 163);
    color: white;
    text-align: center;
    padding: 40px 20px;
    border-radius: 12px;
    margin-bottom: 30px;

}
header h1{
    
        font-size: 36px;
        margin-bottom: 10px;
    }
header p{
    font-size: 18px;

}
/*section styling*/
section{
    background-color:rgb(80, 122, 236);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rbga(0,0,0,0.05);
}
/*Heading*/
h2{
    margin-bottom: 10px;
    color: black;

}
/*Skills list*/
ul{
    list-style-type: square;
    padding-left: 20px;

}
ul li{
    margin-bottom :5px;

}
/*contact link*/
a{
    color: rgb(246, 250, 18);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
/*Mobile Responsive Design*/
@media(max-width:600px){
    body{
        padding: 10px;
    }
    header h1{
        font-size: 28px;

    }
    header p{
        font-size: 16px;

    }
    section{
        padding: 15px;

    }
    ul{
        padding-left: 15px;
    }
}